@model aspNETfirstProject.ViewModels.IndexSiteViewModel

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()  )
{      
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.CustomerID, "Customer")
    @Html.DropDownListFor(m => m.CustomerID, Model.Customers, "-- Select A Customer --", htmlAttributes: new {  })

    @Html.LabelFor(m => m.SiteNumber, "Site Number")
    <input type="text"  id="SiteNumber" name="SiteNumber" value="@Model.SiteNumber"/>

    @Html.LabelFor(m => m.CountryID, "Country")
    @Html.DropDownListFor(m => m.CountryID, Model.Countries, "-- Select A Country --", htmlAttributes: new {})
    
    @Html.LabelFor(m => m.StateID, "State")
    @Html.DropDownListFor(m => m.StateID, Model.States, "-- Select A State --", htmlAttributes: new { })

    <input type="submit" value="Filter" class="btn btn-success" />
    
}

<br><br>


    <table class="table">
        <tr>
            <th>
                Customer
            </th>
            <th>
                Site Number
            </th>
            <th>
                Site Type
            </th>
            <th>
                Country
            </th>
            <th>
                State
            </th>
            <th>
                City
            </th>
            <th>
                Address
            </th>
            <th>
                Zip
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Sites)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

<script type="text/javascript">
    $(document).ready(function () {
        
        $("#CountryID").change(function () {
            LoadStates();
        });
    });

    function LoadStates() {
        $("#StateID").empty();
        var CountryID = $("#CountryID").val();
        //alert("CountryID: " + CountryID );
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetStates")', // we are calling json method
            dataType: 'json',
            data: { CountryID },//no data needed, loading all countries
            success: function (States) {
                $("#StateID").append('<option value="">' + ' -- Select State -- </option>');
                $.each(States, function (i, State) {
                    $("#StateID").append('<option value="' + State.Value + '">' +
                            State.Text + '</option>');
                });
                //FilterSites();
            },
            error: function (ex) {
                alert('Failed to retrieve States ' + ex);
            }
        });
        return false;
    }


</script>
    