@model aspNETfirstProject.ViewModels.IndexSiteViewModel

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm()  )
{      
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.CustomerID, "Customer")
    @Html.DropDownListFor(m => m.CustomerID, Model.Customers, "-- Select A Customer --", htmlAttributes: new { @onchange = "FilterSites()" })

    @Html.LabelFor(m => m.SiteNumber, "Site Number")
    <input type="text" onblur="FilterSites()" id="SiteNumber" name="SiteNumber" />

    @Html.LabelFor(m => m.CountryID, "Country")
    <select name="CountryID" id="CountryID" onchange="LoadStates(this.value)">
        <option value="">-- Choose a Country --</option>
        @foreach (var Country in Model.Countries)
        {
            <option value="@Country.Value">  @Country.Text </option>
        }
    </select>

    @Html.LabelFor(m => m.StateID, "State")
    @Html.DropDownListFor(m => m.StateID, Model.States, "-- Select A State --", htmlAttributes: new { @onchange = "FilterSites()" })

    <input type="submit" value="Filter" class="btn btn-success" />
    
}

<br><br>



@*
    <span id="HiddenStateDD" style="display: none;">
        @Html.DropDownList("States", new SelectList(string.Empty, "Value", "Text"), "-- Select a State --", new { id = "StateID", Name = "StateID" })
    </span>


*@

    <table class="table">
        <tr>
            <th>
                Customer
            </th>
            <th>
                Site Number
            </th>
            <th>
                Site Type
            </th>
            <th>
                Country
            </th>
            <th>
                State
            </th>
            <th>
                City
            </th>
            <th>
                Address
            </th>
            <th>
                Zip
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Sites)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Zip)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>

<script type="text/javascript">
    $(document).ready(function () {
        
        $("#Country").change(function () {
            LoadStates();
        });
    });


    function FilterSites(){
        var customerID = $("#CustomerID").val();
        var siteNumber = $("#SiteNumber").val();
        var countryID = $("#CountryID").val();
        var	stateID = $("#StateID").val();
       // alert("CustomerID: " + customerID + " Site#:" + siteNumber + " CountryID: " + countryID +  " StateID: " + stateID);
        return false;
    }


    function LoadStates() {
        $("#StateID").empty();
        var CountryID = $("#CountryID").val();
        //alert("CountryID: " + CountryID );
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetStates")', // we are calling json method
            dataType: 'json',
            data: { CountryID },//no data needed, loading all countries
            success: function (States) {
                $("#StateID").append('<option value="">' + ' -- Select State -- </option>');
                $.each(States, function (i, State) {
                    $("#StateID").append('<option value="' + State.Value + '">' +
                            State.Text + '</option>');
                });
                //FilterSites();
            },
            error: function (ex) {
                alert('Failed to retrieve States ' + ex);
            }
        });
        return false;
    }


</script>
    