@model IEnumerable<aspNETfirstProject.Models.Item>


@{
    ViewBag.Title = "Pending Posts";
}

<h2>Pending Posts</h2>


    @foreach (var item in Model)
    {
        <div id="ShowApproved@(item.ID)" style="display:none"> Approved Post: @item.Title</div>

        <table class="table" id="table@(item.ID)">
            <tr>
                <td class="col-xs-2">

                    Author: @item.ApplicationUser.UserName<br />
                    <br />
                    @if (item.ApplicationUser.ImageUrl == null)
                {
                        <img src="~/Images/Gravatars/pinkKitty.jpg" alt="gravatar"
                             height="80" width="80" class="img-circle">
                    }
                    else
                    {
                        <img src="~/Images/Gravatars/@(item.ApplicationUser.ImageUrl)" alt="gravatar"
                             height="80" width="80" class="img-circle">
                    }

                    <br />
                    @Html.DisplayFor(modelItem => item.Created_at)
                    @Html.DisplayFor(modelItem => item.ItemType)
                </td>
                <td class="col-xs-10">
                    <h2> PageName: @item.ItemType</h2><br />
                    <span id="@(ViewBag.itemType + item.ID)"> Title: @item.Title</span><br />
                    <br />
                    Description: <span class="description">@item.Description</span><br /><br />

                    <!-- imagePath:  $adminBlog->imagePath }}{ print_r($adminBlog) }}<br/>-->
                    @if (item.ImagePath != null)
                {
                        <img src="~/Images/@(item.ImagePath)" alt="pic" class="img-rounded">
                        <br /><br />
                    }

                    @if (item.DocumentPath != null)
                    {
                        <a class="btn btn-primary" href="~/Documents/@(item.DocumentPath)"
                           role="button">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            @item.DocumentPath.Substring(15)
                        </a>
                        <br /><br />
                    }

                    @if (User.IsInRole("admin"))
                    {
                    <button onclick="approve_post(@(item.ID))"class="btn btn-success active">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Approve </button>
                        @Html.ActionLink("Approve", "Approve", new { id = item.ID }, new { @class = "btn btn-success active" }) 
                        @Html.ActionLink("Delete", "DeletePost", new { id = item.ID }, new { @class = "btn btn-danger active" })
                    
                    }
                </td>
                
            </tr>
        </table>


    }
@*Get a token for the ajax...has to be in a form, thus cannot insert directly in Javascript..STOOPID*@
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<script type="text/javascript">

function approve_post($id) {

    var itemId = $id;
    //Get token for ajax
    var form = $('#__AjaxAntiForgeryForm');
    var token = $('input[name="__RequestVerificationToken"]', form).val();

	//alert('this id is: ' + itemId);
    $.ajax({
		method: "POST",
		url: "ApprovePost",
		data: { itemId: itemId, __RequestVerificationToken: token,}, 
		success: function (data) {
			$( "#ShowApproved" + itemId).show("slow");
			$( "#table" + itemId).hide("slow");
			alert(data);
		},
		error: function(){
			alert('failure at approve post');
		}
	});
}

function delete_post($id) {

	var itemId = $id;
	//alert('this id is: ' + itemId);
	$.ajax({    //create an ajax request to load_page.php
		method: "POST",
		url: "delete_post",
		data: { //_token: "{{ csrf_token() }}",   // MUST PASS TOKEN! or get internal 500 error
			itemId: itemId,
		}, //pass device id to show_comments
		dataType: "html",   //expect html to be returned
		success: function () {
			$( "#showDeleted" + itemId).show("slow");
			$( "#hideRow" + itemId).hide("slow");
			//alert('deleted post');
		},
		error: function(){
			alert('failure at delete post');
		}
	});
}
</script>        